html, body, #sapper {
	height: 100%;
}

@font-face {
	font-family: "AppFont";
	src: url(mplus-1m-regular.ttf);
}


body {
	margin: 0;
	font-family: "AppFont", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", sans-serif;
	overflow: hidden;
}